@import "../../../styles/functions";

.TranslationCardGlossaries {
	margin-top: r(8px);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	font-size: r(10px);
}

.TranslationCardGlossaries-list {
	margin-left: r(8px);
	position: relative;
	top: r(-2px);
}

.TranslationCardGlossaries-list-text {
	color: var(--light-gray-2);
	line-height: r(15px);
}
