@import "../../styles/general.css";

.Documents {}

.Documents-header {
    margin-top: 70px;
    margin-bottom: 56px;
    display: flex;
    align-items: center;
}

.Documents-title {
    margin-right: 96px;
}


.Documents-actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
    z-index: 100000000;
    position: relative;
}

.Documents-actions {
    margin-top: 20px;
    margin-bottom: 40px;
}

.Documents-actions-count {
    margin-right: auto;
}

.Documents-actions-button {
    margin-left: 40px;
}

.Documents-button {
    margin-left: auto;
    position: relative;
}

.Documents-input-file {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    opacity: 0;
}
