@import "../../styles/general.css";

.Editor {}

.EditorControls {
  display: flex;
  align-items: center;
}

.EditorControls-separator {
  width: 1px;
  height: 20px;
  background-color: var(--light-gray-3);
  margin-right: 6px;
  margin-left: 6px;
}

.EditorControl {
  cursor: pointer;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-gray);

  &_active {
    color: var(--blue-2);
  }
}

.Editor-wrapper {
  height: 100%;
  overflow-y: auto;
}

.Editor-controls {
  margin-top: 20px;
}

.FontSizeControl {
  position: relative;
}

.FontSizeControl-dropdown {
  position: absolute;
  z-index: 100;
  bottom: 26px;
  left: -7px;
  box-shadow: 0px 8px 34px -20px rgba(151, 160, 170, 0.9);
  width: 50px;
  height: 200px;
  text-align: center;
  background-color: var(--white);
  border-radius: 5px;
  overflow: auto;
}

.FontSizeControl-option {
  cursor: pointer;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 16px;

  &:hover {
    background-color: var(--blue);
    color: var(--white)
  }
}
