@import "../../styles/general.css";

.EditableTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.EditableTitle-title {
  font-family: var(--font-Circle-Bold);
  font-size: 24px;
  line-height: 1.5;
  margin-right: 22px;
}

.EditableTitle-input {
  font-size: 24px;
  line-height: 1.5;
  border-color: transparent;
  background-color: transparent;
  outline: none;
  color: var(--dark-gray);
  font-family: var(--font-Circle-Bold);
  margin-right: 22px;
  padding: 0;
  border-width: 0;
}

.EditableTitle-icon {
  color: var(--light-gray-3);
  cursor: pointer;
}
