@import "../../styles/general.css";

.Tabs {
  border-bottom: 1px solid var(--light-gray);
}

.Tabs-wrapper {
  display: flex;

}

.Tabs-item {
  position: relative;
  background: transparent;
  border: none;
  padding: 10px 0 10px 0;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    padding-right: 30px;
    margin-left:  0;
  }

  &_active {
    padding-right: 0;

    .Tabs-text {
      color: var(--blue);
      font-family: var(--font-Circle-Bold);
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 4px;
      background: var(--blue);

    }
  }
}



.Tabs-text {
  display: block;
  color: var(--blue-gray);
  font-size: 18px;
  transition-duration: .2s;
  white-space: pre;
}

.Tabs-actions {
  display: flex;
  margin-left: 26px;
  opacity: 0;

  &_active {
    opacity: 1;
  }

}

.Tabs-action {
  padding: 0;
  margin-right: 18px;
  background: transparent;
  border: none;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.Tabs-icon {
  color: var(--light-gray-3);

  &:hover {
    color: var(--blue);
  }

  [disabled] & {
    color: var(--light-gray);
  }
}


.Tabs-arrows {
  width: 50px;
  flex-shrink: 0;
}

.Tabs-back-arrow {
  transform: rotate(180deg);
}

.Tabs-back, .Tabs-next {
  all: unset;
  height: r(12px);
  line-height: 0;
  color: #7D8BA0;
}

.Tabs-back {
  margin-right: r(6px);
}

.Tabs-back[disabled], .Tabs-next[disabled] {
  color: var(--light-gray-2);
}

.Tabs-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel__slide-focus-ring {
  display: none;
}
