@import "../../styles/general.css";

.Tabs {
  display: flex;
  border-bottom: 1px solid var(--light-gray);
}

.Tabs-item {
  position: relative;
  background: transparent;
  border: none;
  padding: 10px 0 10px 0;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    padding-right: 30px;
    margin-left:  0;
  }

  &_active {
    padding-right: 0;

    .Tabs-text {
      color: var(--blue);
      font-family: var(--font-Circle-Bold);
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 4px;
      background: var(--blue);

    }
  }
}

.Tabs-text {
  display: block;
  color: var(--blue-gray);
  font-size: 18px;
  transition-duration: .2s;
}

.Tabs-actions {
  display: flex;
  margin-left: 26px;
  opacity: 0;

  &_active {
    opacity: 1;
  }

}

.Tabs-action {
  margin-right: 18px;
  background: transparent;
  border: none;

  &:last-child {
    margin-right: 0;
  }
}

.Tabs-icon {
  color: var(--light-gray-3)
}
