@import "../../styles/general.css";

.ModalRemoveVocabGroup {

}

.ModalRemoveVocabGroup-container {
  display: flex;
  justify-content: center;
}

.ModalRemoveVocabGroup-button {
  width: 40%;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}
