@import "../../styles/general.css";

.ModalRenameVocabGroup {

}

.ModalRenameVocabGroup-container {
  display: flex;
}

.ModalRenameVocabGroup-input {
  width: 60%;
}

.ModalRenameVocabGroup-button {
  width: 40%;
}
