@import "../../../styles/functions";

.TranslationCardWord {
	font-size: r(12px);
	line-height: 1.3;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: r(2px);
}
.TranslationCardWord_highlight {
	color: var(--blue-2);
	font-weight: 700;
	font-family: var(--font-Circle-Bold);
	background-color: transparent;
}

.TranslationCardWord-speech {
	margin-left: r(10px);
	color: var(--blue-2);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.TranslationCardWord-speech:hover {
	color: var(--blue-gray);
}
