:root {
	--white: #fff;
	--light-gray: #F3F3F3;
	--light-gray-2: #BEC5CF;
	--blue-gray: #7D8BA0;
	--dark-gray: #525252;
	--blue: #4FBFD8;
	--blue-2: #29A3BE;
	--selection-color: #BBE4FB;
	--black: #000;

	--font-Circle: "Circe", sans-serif;
	--font-Circle-Bold: "Circe Bold", sans-serif;
}
