@import "../../styles/general.css";

.Popup {
	width: r(294px);
	height: r(500px);
}

.Popup-header {
	margin-bottom: r(20px);
}

.Popup-search {
	margin-bottom: r(10px);
}

.Popup-container {
	padding: 0 r(11px);
}

.Popup-cards {
	padding-bottom: r(1px);
}

.Popup-cards-title {
	font-size: r(10px);
	line-height: 1.5;
	color: var(--light-gray-2);
	margin-bottom: r(4px);
}

.Popup-cards-list-item {
	margin-bottom: 10px;
}

.Popup-empty {
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light-gray-2);
	font-size: 10px;
	line-height: 1.5;
}
