@import "../../styles/general.css";

.ModalNewVocabGroup {

}

.ModalNewVocabGroup-container {
  display: flex;
}

.ModalNewVocabGroup-input {
  width: 60%;
}

.ModalNewVocabGroup-button {
  width: 40%;
}
