@import "../../styles/general.css";

.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000000000;
}

.Modal-backdrop {
  background: rgba(0, 0, 0, .1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.Modal-wrapper {
  padding: 50px 80px;
  background: var(--white);
  min-width: 618px;
  position: relative;
}

.Modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
