@import "../../styles/general.css";

.TrainingSlider {
	background: var(--white);
	border-radius: 5px;
	position: relative;
	height: r(76px);
	margin-bottom: 14px;
}

.TrainingSlider-close {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1000000;
	cursor: pointer;
	width: r(12px);
	height: r(12px);
}

.TrainingSlider-slider {
	height: 100%;
}

.TrainingSlider-arrows {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.TrainingSlider-back-arrow {
	transform: rotate(180deg);
}

.TrainingSlider-back, .TrainingSlider-next {
	all: unset;
	height: r(12px);
	line-height: 0;
	color: #7D8BA0;

}

.TrainingSlider-back {
	margin-right: r(6px);
}

.TrainingSlider-back[disabled], .TrainingSlider-next[disabled] {
	color: var(--light-gray-2)
}

.TrainingSlider-text {
	color: var(--dark-gray);
	font-size: r(10px);
	line-height: 1.5;
	width: 58%;
}

.TrainingSlider-text_slide_3 {
	width: 56%;
}

.TrainingSlider-slide {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: r(10px);
}

.TrainingSlider-selected-text {
	background-color: var(--selection-color);
	font-size: r(12px);
	line-height: 12px;
	color: var(--black);
	padding: r(3px) r(4px);
	border-radius: r(2px);
	position: relative;
	margin-top: r(-20px);
	user-select: none;
}

.TrainingSlider-selected-text-small {
	font-size: r(10px);
	line-height: r(15px);
}

.TrainingSlider-cursor-1 {
	position: absolute;
	bottom: r(-9px);
	right: r(-9px);
}

.TrainingSlider-cursor-2 {
	position: absolute;
	bottom: r(-6px);
	right: r(-13px);
}

.TrainingSlider-cursor-3 {
	position: absolute;
	bottom: r(-11px);
	right: r(-8px);
}

.TrainingSlider-word-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: r(90px);
	padding: r(10px);
}

.TrainingSlider-word-card-content {
	display: flex;
	flex-direction: column;
}

.TrainingSlider-word {
	margin-bottom: 0;
}

.TrainingSlider-bookmark .TrainingSlider-cursor {
	right: r(-14px);
}

.NLMK-Extension-Tooltip.TrainingSlider-tooltip-1 {
	position: absolute;
	top: calc(100% + 12px);
	right: r(-8px);
}


.NLMK-Extension-Tooltip.TrainingSlider-tooltip-3 {
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	height: r(25px);
	width: 100%;
	align-items: center;

	.NLMK-Extension-Tooltip-text {
		font-size: r(9px);
		line-height: 1;
	}
}
