@import "../../../styles/general.css";

.TranslationCard {
	background: var(--white);
	box-shadow: 0px 6px 34px -20px rgba(117, 130, 147, 0.5);
	border-radius: r(5px);
	padding: r(10px) r(12px) r(6px) r(10px);
	display: flex;
	flex-direction: column;
}

.TranslationCard-wrapper {
	display: flex;
	flex-direction: row;
	margin-bottom: r(5px);
}

.TranslationCard-action {
	width: r(15px);
	margin-left: auto;
	background: transparent;
	border: none;
	cursor: pointer;
}

.TranslationCard-arrow-button {
	position: relative;
	left: r(2px);
	margin-left: auto;
	background-color: #E9EEF5;
	border-radius: 50%;
	width: r(20px);
	height: r(20px);
	display: flex;
	justify-content: center;
	align-items: center;
  	flex-shrink: 0;
}

.TranslationCard-item {
	display: flex;
	flex-direction: row;
	margin-bottom: r(10px);
}

.TranslationCard-items {

}




