@import "../../constants/Colors.css";

.TranslationCard {
	background: var(--white);
	box-shadow: 0px 6px 34px -20px rgba(117, 130, 147, 0.5);
	border-radius: 5px;
	padding: 10px 12px 6px 10px;
	display: flex;
	flex-direction: row;
}

.TranslationCard-action {
	width: 15px;
	margin-left: auto;
}
