@import "../../styles/general.css";

.IconButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--black);

  &:not(&_disabled) {
    &:hover {
      color: var(--blue-2);
    }
  }

  &_disabled {
    color: var(--blue-gray);
  }

}

.IconButton-text {
  font-size: 16px;
  line-height: 1;
  padding-left: 14px;
  top: 1px;
  position: relative;
}

.IconButton-icon {
  color: var(--blue-gray);
}
