@import "../../styles/general.css";

.MyVocabulary {}

.MyVocabulary-header {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.MyVocabulary-title {
    margin-right: 96px;
}

.MyVocabulary-button {
    margin-left: auto;
}

.MyVocabulary-tabs {
    margin-top: 50px;
}

.MyVocabulary-actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
