@import "../../styles/general.css";

.MyVocabulary {}

.MyVocabulary-header {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.MyVocabulary-title {
    margin-right: 96px;
}

.MyVocabulary-button {
    margin-left: auto;
}

.MyVocabulary-tabs {
    margin-top: 50px;
}

.MyVocabulary-actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.MyVocabulary-cards {
    display: flex;
    flex-wrap: wrap;
}

.MyVocabulary-card {
    width: calc(50% - 11px);
    margin-bottom: 14px;

    &:nth-child(odd) {
        margin-right: 22px;
    }
}

.MyVocabulary-actions {
    margin-top: 20px;
    margin-bottom: 40px;
}

.MyVocabulary-actions-count {
    margin-right: auto;
}

.MyVocabulary-actions-button {
    margin-left: 40px;
}

.MyVocabulary-search {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.MyVocabulary-search-input {
    width: 100%;
    margin-right: 22px;
}
